[project]
name = "multi-ai-agent-medical-assistant"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "pylint>=4.0.4",
    "pytest>=9.0.2",
]
